@import url(../materialize/css/materialize.css);
@import url(searchBar.css);
@import url(nav.css);
@import url(cards.css);
@import url(roundedCards.css);
@import url(logo.css);

.page-title {
  color: white;
  text-shadow: black 4px 0px 8px, black -4px 0px 8px, black 0px 4px 8px,
    black 0px -4px 8px;
}

/* body */
body {
  background-color: black;
}

/* containers */
.content {
  min-height: 100%;
}

.wide-container {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

/* text bolding */
.bold {
  font-weight: bold;
}

/* grid box */
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

/* font styles */
.errormsg {
  color: red;
  font-weight: bold;
}
