/* logo glow */
.glow-image {
  animation: imageGlowColor 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0, 0.45, 1);
}

@keyframes imageGlowColor {
  0% {
    -webkit-filter: drop-shadow(0px 0px 4px white);
    opacity: 60%;
  }
  100% {
    -webkit-filter: drop-shadow(0px 0px 8px white);
    opacity: 100%;
  }
}
